@use '../../../../styles/font.scss';
@use '../../../../styles/color.scss';

.logo {
    color: color.$black;
    display: inline-block;
    @include font.h1-font;
    width: fit-content;
}

.copyRight {
    text-decoration: none;
    color: color.$black;
    display: inline-block;
    @include font.h3-font;
    width: fit-content;
    margin-left: 1px;
}
