@use '../../../styles/font.scss';
@use '../../../styles/list.scss';
@use '../../../styles/color.scss';

.externalLinks {
    // grid-column: 5 / -1;

    .title {
        @include font.h2-font;
    }

    .unorderedList {
        @include list.list-reset;
        margin-block-start: 1.5rem;
        margin-block-end: 0;

        .linkList {
            margin-top: 0.18rem;

            &:first-child {
                margin-top: 0;
            }

            .link {
                text-decoration: none;
                @include font.body-font;
                color: color.$black;
            }
        }
    }
}
