@use '../../../styles/color.scss';
@use '../../../styles/font.scss';

.lineBreak {
    background-color: color.$black;
    height: 2px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.h2Title {
    @include font.h2-font;
    margin-bottom: 2rem;

    &:first-child {
        margin-bottom: 0;
    }
}

.h3Title {
    @include font.h3-font;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;

    .year {
        margin-left: auto;
    }
}

.titleBar {
    display: flex;
    flex-direction: row;

    .backButton {
        margin-left: auto;
        text-decoration: none;
        @include font.body-font;
        color: color.$black;
    }
}

.publicationItem {
    margin-bottom: 2rem;

    .publicationLink {
        text-decoration: none;
        @include font.body-font;
        color: color.$black;
    }
}

.experienceItem {
    margin-bottom: 1.5rem;

    .linkStyle {
        @include font.link-style;
        @include font.h3-font;
    }
}
