@use './color.scss';

@mixin body-font {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    @include body-line-height;
}

@mixin link-style {
    @include body-font;
    color: color.$black;
    text-decoration: 0.1rem underline color.$gray;
    text-underline-offset: 0.2rem;

    &:hover {
        text-decoration: underline color.$black;
    }
}

@mixin h1-font {
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
}

@mixin h2-font {
    font-size: 1.5rem;
    font-weight: 450;
    font-style: normal;
}

@mixin h3-font {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
}

@mixin body-line-height {
    line-height: 1.5rem;
}
