@use '../../../styles/font.scss';
@use '../../../styles/color.scss';
@use '../../../styles/list.scss';

.title {
    @include font.h2-font;
}

.paragraph {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    @include font.body-font;
    color: color.$black;
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 64px;

    .leftColumn {
        grid-column: 1 / 5;
        display: flex;
        flex-direction: column;

        .linkInline {
            @include font.link-style;
        }

        .aboutVelvety {
            margin-bottom: 64px;

            .aboutParagraph {
                margin-block-start: 0;
                margin-block-end: 0;
                padding: 0;
            }
        }

        .aboutLiam {
            margin-bottom: 64px;
        }

        .aboutThisWebsite {
            margin-bottom: 64px;
        }
    }

    .externalLinks {
        grid-column: 5 / -1;

        .unorderedList {
            @include list.list-reset;
            margin-block-start: 1.5rem;
            margin-block-end: 0;

            .linkList {
                margin-top: 0.18rem;
            }
        }
    }
}
