@use '../../../styles/font.scss';
@use '../../../styles/color.scss';

.writingEntryButton {
    margin: 0;
    padding: 0;
    min-height: 116px;

    .title {
        @include font.h3-font;
        color: color.$black;
        text-decoration: none;
    }

    .description {
        @include font.body-font;

        .date {
            color: color.$gray;
        }
    }
}
