.contentHome {
    font-size: 16px;
    letter-spacing: 1.5px;
    min-height: 100%;
}

.verticalDiv {
    padding-top: 3vh;
}

.verticalDiv > ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

@media (max-width: 600px){
    .contentHome{
        background-color: aqua;
    }
}