@use '../../../styles/color.scss';
@use '../../../styles/font.scss';

.navButton {
    width: fit-content;
    cursor: pointer;

    .navLinks {
        text-decoration: none;
        @include font.h2-font;
        color: color.$gray;
    }

    .divider {
        height: 3px;
        width: 32px;
        background-color: color.$gray;
        border-radius: 3px;
        margin-top: 6px;
        transition: width 0.3s ease;
    }

    .navLinksClicked {
        text-decoration: none;
        @include font.h2-font;
        color: color.$black;
    }

    .dividerClicked {
        height: 3px;
        width: 42px;
        background-color: color.$black;
        border-radius: 3px;
        margin-top: 6px;
    }

    &:hover {
        .navLinks {
            color: color.$black;
        }

        .divider {
            width: 42px;
            background-color: color.$black;
        }
    }
}
