@use '../../../styles/font.scss';
@use '../../../styles/color.scss';
@use '../../../styles/list.scss';

.contentWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 64px;

    max-width: 1088px;
    height: auto;

    margin: 0 auto;
    padding-top: 241px;
    padding-bottom: 64px;
}

@media screen and (max-width: 1199px) {
    .contentWrapper {
        margin: 0 32px;
    }
}

@media screen and (max-width: 619px) {
    .contentWrapper {
        padding-top: 160px;
        margin: 0 16px;
    }
}

.headerWrapper {
    flex-basis: 0;
    flex-grow: 1;
}

.biography {
    //grid-column: 1 / 5;
    margin-bottom: 64px;

    .title {
        @include font.h2-font;
    }

    .link {
        @include font.link-style;
    }

    .paragraph {
        margin-block-start: 1.5rem;
        margin-block-end: 0;
        padding: 0;
    }
}
